/* --------------------- */
/* $Id$ */
/* --------------------- */


body {
	margin: 0px;
	background-color: #CCF;
}

.block {
	/* border: 1px #88F solid; */
	background-color: #FFF;
	/* display: block; */
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #88F;
}

.hidden {
	display: none;
}

/* --------------------- */

.header-table {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #CCF;
	border-collapse: collapse;
}

.header-table tr {
	vertical-align: top;
}

.header-thumb {
	margin-right: 10px;
}

.header-logo {
	vertical-align: top;
	margin-left:  10px;
}

.header-desc {
	width: 100%;
}

.header-title { 
	font-size: 1.2em;
	font-weight: bold;
	display: block;
}

.header-date, .header-info {
	font-size: smaller;
	display: block;
}


/* --------------------- */

.info-table {
	width: 100%;
	background-color: #CCF;
	border: 0px;
	border-top: 1px solid #88F;
	border-collapse: collapse;
}

.info-left {
	width: 100%;
}

.info-path {
	float: left;
	margin-left: 0px;
}

.info-back {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

.info-settings {
	/* width: 10px; */
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #88F;
	text-align: right;
}

/* --------------------- */

.settings-border {
	margin: 20px;
	margin-top: 0px;
	border: 5px solid #FFC;
	border-top: 0px;
	border-radius-bottomleft: 1em;			/* CSS 3 draft */
	border-radius-bottomright: 1em;			/* CSS 3 draft */
	-moz-border-radius-bottomleft: 1em;		/* Gecko-specific */
	-moz-border-radius-bottomright: 1em;	/* Gecko-specific */
}

.settings-table {
	width: 100%;
	background-color: #FFC;
}

.settings-themes-col, .settings-colors-col, .settings-links-col {
	width: 30%;
	vertical-align: top;
}


ul.settings-list {
	padding: 0px;
	margin: 0px;
	left: 0px;
	list-style: none;
}

ul.settings-list li:hover { 
	background-color: #FF0;
}


/* --------------------- */

.content {
	border: 0px;
	background-color: #FFF;
}

.section {
	display: block;
	font-size: 1.5em;
	text-align: center;
	border-top: 1px solid #88F;
	border-bottom: 1px solid #88F;
	background-color: #AAF;


/* --------------------- */

.debug { 
	margin-top:20px;
	background-color: #FCC;
}


.footer {
	width: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
	/* background-color: #CCF; */
}

/* end */
